<div id="layout-topbar">

  <div class="application-tagline">
    <a href="" [routerLink]="['/']">Wayne County Court App</a>
  </div>


  <ul class="topbar-menu">
    <li>
      <a href="#" [routerLink]="['/']">HOME</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a [routerLink]="['./login']">LOGIN</a>
    </li>

    <li class="topbar-menu-themes" *ngIf="isLoggedIn">
      <a href="#">SYSTEM</a>
      <ul>
        <li>
          <a [routerLink]="['./post']"><span class="topbar-submenu-icon fa fa-book"></span>Posts</a>
        </li>
        <li>
          <a [routerLink]="['./user']"><span class="topbar-submenu-icon fa fa-book"></span>Users</a>
        </li>
      </ul>
    </li>
    <li *ngIf="isLoggedIn" style="color: white">
       {{user.username}}
    </li>
    <li *ngIf="isLoggedIn">
      <!--
      <app-logout></app-logout>
      -->
    </li>
  </ul>
</div>
